# ignore cache folder
/silverstripe-cache/
.sass-cache/

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/
/node_modules/
/bower_components/

# ignore compiled css files
themes/nldarts/css/style.css
themes/nldarts/css/style.min.css
themes/nldarts/css/style.css.map
